<!DOCTYPE html>
<html lang="es">
<head>
  {{ partial "head.html" . }}
  {{ block "meta" . }}{{ end }}
</head>

<body class="antialiased font-hind">
  {{ partial "navbar.html" . }}
  <main class="min-h-screen">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <!-- 100% privacy-first analytics -->
  <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>

</html>