<!-- Global site tag (gtag.js) - Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Full Stack Developer. Code enthusiasm."/>

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap" rel="stylesheet">
{{ $styles := resources.Get "styles/tailwind.pcss" | toCSS | postCSS }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

<title>{{ .Site.Title }}</title>