{{ if .Site.GoogleAnalytics }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  {{ template "_internal/google_analytics_async.html" . }}
{{ end }}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Full Stack Developer. Code enthusiasm."/>

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<script src="https://kit.fontawesome.com/48080dddac.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&family=Montserrat:wght@300;600;700&display=swap" rel="stylesheet">
{{ $styles := resources.Get "styles/tailwind.pcss" | toCSS | postCSS }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

{{ if .Title }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ else }}
  <title>{{ .Site.Title }}</title>
{{ end }}