<header class="px-4 py-3 bg-oxford">
  <nav class="text-white max-w-3xl mx-auto">
    <div class="flex items-center justify-between">
      <a href="{{ .Site.BaseURL }}" class="font-semibold text-lg">
        ddazal.com
      </a>
      <div class="flex items-center space-x-2">
        <a href="https://github.com/ddazal" target="_blank" rel="noopener noreferrer" aria-label="Visitar github de David Daza">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/_daviddaza" target="_blank" rel="noopener noreferrer" aria-label="Visitar twitter de David Daza">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="mailto:hola@ddazal.com" aria-label="Enviar correo electrónico a David Daza">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </nav>
</header>
