{{ define "main" }}
  <section class="bg-oxford text-white px-4 py-16">
    <div class="max-w-3xl mx-auto">
      <div class="max-w-md">
        <h1 class="text-4xl font-montserrat font-bold">Hola, soy David.</h1>
        <p class="mt-10 text-xl font-light leading-snug">Soy desarrollador fullstack en <a class="text-fuzzy-wuzzy underline" href="https://www.datasketch.co" target="_blank" rel="noopener noreferrer">Datasketch</a>. Aquí comparto mis aprendizajes.</p>
      </div>
    </div>
  </section>
  <div class="bg-gradient-to-r from-antique-brass to-fuzzy-wuzzy h-2"></div>
  <section class="px-4 py-16">
    <div class="max-w-3xl mx-auto">
      {{ $posts := where .Site.RegularPages "Section" "blog" }}
      {{ if $posts }}
        <div class="space-y-10">
          {{ range where .Site.RegularPages "Section" "blog" }}
            <article>
              <p class="text-fuzzy-wuzzy font-semibold">
                {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Day }}, {{ .Date.Year }}
              </p>
              <h3 class="font-montserrat font-bold text-2xl text-oxford">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>
              <p class="text-lg mt-4 leading-snug">{{ .Description }}</p>
            </article>
          {{ end }}
        </div>
      {{ else }}
        <p class="text-center text-lg">Aún no he escrito nada :(</p>
      {{ end }}
    </div>
  </section>
{{ end }}